:root {
    --dark: #212121;
    --light: #085964;
    --navlink-color: #b9c6ae;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 1.5rem;
}

.header {
    padding: 25px;
    margin: 0px 0px 10px 0px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--dark);
    color: var(--light);
}

.burger-nav {
    display: block;
    height: 40px;
    width: 100%;
    background: url(../images/burger.png) no-repeat 98% center;
    background-color: #404040;
    cursor: pointer;
}    

.header nav {
    width: 100%;
    padding: 0;
    margin: 0;
}

.header nav ul {
   overflow: hidden;
   background: #505050;
   height: 0;
}

.header nav ul.open {
    height: auto;
}
.header nav ul li {
    text-align: center;
    width: 100%;
    margin: 0;
}

.header nav ul li a {
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #404040;
    display: block;
    margin: 0;
}

h1 {
    display: flex;
    font-size: 48px;
    animation: slide 2s;
}

.headshot {
    display: inline-block;
    width: 160px;
    padding: 10px;
    margin: 20px;
    border-radius: 117px;
    animation-name: pulse;
    animation-duration: 4s;
}

main {
    width: 100%;
    margin: 0 auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
    display: block;
    align-items: flex-end;    
    line-height: 140%;
}

.main-row{
    display: inline-block;
    width: 100%;
}

.main-row-aside {
    height: 100%;
    outline: solid purple 2px;
    flex-grow: 1;
}

.title-words {
    width: 100%;
    padding: 5%;
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--light);
    color: #ffffff;
}

.title-words h2 {
    display: flex;
    margin-bottom: 20px;
    font-size: 36px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.row {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    }

.main-text { 
    width:100%;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 30px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--light);
    color: #ffffff;
}

.main-text ul li{    
    line-height: 140%;
}

.examples {
    flex: 4;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  
.card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 228px;
    border-radius: 10px 0px 10px 50px;
}
  
.card header {
    padding: 20px;
    border-radius: 30px 30px 0 0;
}
  
.card p {
    text-align: center;
}
  
.card img {
    width: 100%;    
    border-radius: 10px 0px 10px 50px;
}

.card:hover {
    color: red;
    cursor: pointer;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    color: #ffffff;
}

/* Media Queries */

/* Keyframes for animations */

@keyframes slide {
    0% {
        transform: translateX(800px);
        opacity: 0;
    }      
    
    100% {
        transform: translateX(0px);
        opacity: 1;
      }
}

@keyframes pulse {
        0% {
            opacity: 0;
        }      
        30% {
            opacity: 0;
        }
        100% {
            opacity: 1;
          }
 }

/* Tablets */
@media screen and (min-width: 768px){
    .row {
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        outline: solid green 2px;
        margin: 3px;
    }
       
    .header nav {
        display: inline-flex;
        position:absolute;
        top: 125px;
        right: -17%;
        justify-content: end;
        margin-right: 20px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 20px;
    }

    .header nav ul {
        overflow: visible;
        list-style-type: none;
        background: none;
    }
    
    .header nav ul li {
        display: inline-block;
        width: 15%;
        padding: 10px 75px 0 0;
        text-decoration: underline;
        text-underline-offset: 7px;
        text-shadow: 2px 2px 2px #0000008f;
        border-bottom: 0px;
    }

    .header nav ul li a {
        color: #fff;
        padding: 10px;
        border-bottom: 0px;
        display: block;
        margin: 0;
    }

    .burger-nav{
        display: none;
    }
    
    .main-row {
        display: flex;
        width: 100%;
    }

    .main-text { 
        width:100%;
        margin-bottom: 15px;
        margin-top: 0px;
        padding: 5%;
        font-family: Helvetica, Arial, sans-serif;
        background-color: var(--light);
        color: #ffffff;
    }

    .title-words {
        width: 100%;
        padding: 5%;
        font-family: Helvetica, Arial, sans-serif;
        background-color: var(--light);
        color: #ffffff;
    }

    .examples {
        flex: 4;
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
      }
}